body {
    margin: 0;
    text-align: center;
    padding: 0px 32px;
    background-color: aliceblue;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

img {
    image-rendering: pixelated;
}

#window {
    display: grid;
    grid-template-columns: 512px auto 512px;
}

.character-window {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
}

#p1-window {
    justify-content: end;
}

#p2-window {
    justify-content: start;
}

.selected-characters {
    display: grid;
    grid-template-columns: 132px 132px;
    height: fit-content;
}

#p1-window .selected-characters {
    justify-content: end;
}

#p2-window .selected-characters {
    justify-content: start;
}

.character-holder {
    width: 128px;
    height: 128px;
}

#roster-list {
    display: grid;
    grid-template-columns: repeat(4, 132px);
    justify-self: center;
}

.current-character {
    height: auto;
}

.current-character .character-holder {
    width: 512px;
    height: 512px;
}

.player-info {
    display: grid;
}

#info-p2{
    grid-template-columns: 270px auto;
}

#info-p1{
    grid-template-columns: auto 270px;
}

.game-controller {
    width: 192px;
    height: 192px;
}

.player-name-icon {
    display: grid;
}

.player-icon {
    
}
.player-name {
    font-size: 22px;
    margin: 0;
}

#window-controls {
    display: grid;
    grid-template-columns: 512px 1fr 512px;
    width: 100%;
    margin-top: 4px;
    justify-content: center;
}

#timer p {
    margin: 0;
    font-weight: bold;
}
.timer-value {
    font-size: 48px;
    color: orange;
}

.ready-button {
    color: white;
    background-color:steelblue;
    border: 2px solid black;
    font-size: 32px;
    font-weight: bold;
}

.ready-button:hover {
    color: steelblue;
    background-color:white;

}