body {
    margin: 0;
    text-align: center;
    padding: 0px 32px;
    background-color: aliceblue;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

img {
    image-rendering: pixelated;
    border-radius: 50%;
}

#window {
    display: grid;
    grid-template-columns: 512px 528px 512px;
    column-gap: 32px;
    justify-content: center;
}

.character-window {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
}

#p1-window {
    justify-content: end;
}

#p2-window {
    justify-content: start;
}

.selected-characters {
    display: grid;
    grid-template-columns: 132px 132px;
    height: fit-content;
}

#p1-window .selected-characters {
    justify-content: end;
}

#p2-window .selected-characters {
    justify-content: start;
}

.selected-character, .character-profile {
    position: relative;
    width: 132px;
    height: 132px;
}

.character-holder {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    background-color: black;
}

.character-picture {
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 120px;
    top: 4px;
    left: 4px;
   /*  background-color: white; */
   /*  background-color:rgba(0, 0, 255, 0.5); */
}


.current-character {
    position: relative;
    width: 512px;
    height: auto;
}

.current-character .character-holder {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 512px;
    height: 512px;
}

.current-character .character-picture {
    position: absolute;
    z-index: 2;
    width: 480px;
    height: 480px;
    top: 16px;
    left: 16px;
}

#roster-list {
    display: grid;
    grid-template-columns: repeat(4, 132px);
    justify-self: center;
}

.player-info {
    display: grid;
}

#info-p2{
    grid-template-columns: 270px auto;
}

#info-p1{
    grid-template-columns: auto 270px;
}

.game-controller {
    width: 192px;
    height: 192px;
    border-radius: 0%;
}

.player-name-icon {
    display: grid;
}

.player-icon {
    
}
.player-name {
    font-size: 22px;
    margin: 0;
}

#window-controls {
    display: grid;
    grid-template-columns: 512px 528px 512px;
    width: 100%;
    margin-top: 4px;
    column-gap: 32px;
    justify-content: center;
}

#timer p {
    margin: 0;
    font-weight: bold;
}
.timer-value {
    font-size: 42px;
    color: orange;
}

.ready-button {
    color: white;
    background-color:steelblue;
    border: 2px solid black;
    font-size: 32px;
    font-weight: bold;
}

.ready-button:hover {
    background-color:rgb(110, 160, 210);

}

.ready-button:active {
    background-color:rgb(40, 100, 150);
}

@media screen and (max-width: 1620px) {
    .current-character .character-holder {
        width: 384px;
        height: 384px;
    }

    .character-holder {
        width: 96px;
        height: 96px;
    }

    .selected-character, .character-profile {
        width: 99px;
        height: 99px;
    }

    .character-picture {
        width: 90px;
        height: 90px;
        top: 3px;
        left: 3px;
    }

    .current-character {
        width: 384px;
    }

    .current-character .character-picture {
        width: 360px;
        height: 360px;
        top: 12px;
        left: 12px;
    }

    .game-controller {
        width: 144px;
        height: 144px;
    }

    #window, #window-controls {
        grid-template-columns: 384px 396px 384px;
        column-gap: 24px;
    }

    #info-p2 {
        grid-template-columns: 203px auto;
    }

    #info-p1 {
        grid-template-columns: auto 203px;
    }

    .selected-characters {
        grid-template-columns: 99px 99px;
    }

    #roster-list {
        grid-template-columns: repeat(4, 99px);
    }
}

@media screen and (max-width: 1260px) {
    .current-character .character-holder {
        width: 288px;
        height: 288px;
    }

    .character-holder {
        width: 72px;
        height: 72px;
    }

    .selected-character, .character-profile {
        width: 75px;
        height: 75px;
    }

    .character-picture {
        width: 68px;
        height: 68px;
        top: 2px;
        left: 2px;
    }

    .current-character {
        width: 288px;
    }

    .current-character .character-picture {
        width: 270px;
        height: 270px;
        top: 9px;
        left: 9px;
    }

    .game-controller {
        width: 108px;
        height: 108px;
    }

    #window, #window-controls {
        grid-template-columns: 288px 297px 288px;
        column-gap: 18px;
    }

    #info-p2 {
        grid-template-columns: 153px auto;
    }

    #info-p1 {
        grid-template-columns: auto 153px;
    }

    .selected-characters {
        grid-template-columns: 75px 75px;
    }

    #roster-list {
        grid-template-columns: repeat(4, 75px);
    }

    .icon-link {
        font-size: 12px;
    }
    
    .player-name {
        font-size: 16px;
    }
}

@media screen and (max-width: 920px) {
    body {
        padding: 0;
    }
    #window {
        grid-template-columns: auto;
        grid-template-areas:
        "roster-list"
        "p1-window p2-window";
        margin: 0px 32px 32px 32px;
        padding: 0px 32px;
    }
   
    #roster-list {
        grid-template-columns: repeat(8, 75px);
        grid-area: roster-list;
        margin: 0px 0px 250px 0px;
        height: 225px;
    }

    #p1-window {
        justify-content: start;
        grid-area: p1-window;
        margin: 250px 0px 0px 0px;
    }

    #p2-window {
        justify-content: end;
        grid-area: p2-window;
        margin: 250px 0px 0px 0px;
    }

    #window-controls {
        grid-template-columns: 180px 48px 180px;
    }

    .selected-character, .character-profile {
        width: 75px;
        height: 75px;
    }

    .character-picture {
        width: 68px;
        height: 68px;
        top: 2px;
        left: 2px;
    }

    .current-character {
        width: 288px;
        margin-bottom: 148px;
    }

    .current-character .character-picture {
        width: 270px;
        height: 270px;
        top: 9px;
        left: 9px;
    }
}

@media screen and (max-width: 720px) {
    #window {
        grid-template-areas:
        "roster-list"
        "p1-window"
        "p2-window";
    }

    #roster-list {
        grid-template-columns: repeat(6, 75px);
        margin: 0px 0px 0px 0px;
        height: 300px;
    }

    #p1-window {
        justify-content: start;
        grid-area: p1-window;
        margin: 16px 0px 32px 0px;
    }

    .character-window {
        grid-template-columns: 162px 1fr;
    }
   
    #p2-window .current-character {
        order: 2;
    }

    #info-p2 {
        order: 1;
    }

    #p2-window {
        justify-content: end;
        grid-area: p2-window;
        margin: 16px 0px 0px 0px;
        gap: 8px;
        grid-template-columns: 1fr 162px;
    }

    .current-character .character-holder {
        width: 162px;
        height: 162px;
    }

    .game-controller {
        width: 81px;
        height: 81px;
    }
    #roster-list .character-holder {
        width: 72px;
        height: 72px;
    }

    .selected-character, .character-profile {
        width: 75px;
        height: 75px;
    }

    .character-picture {
        width: 68px;
        height: 68px;
        top: 2px;
        left: 2px;
    }

    .current-character {
        width: 162px;
        margin-bottom: 0px;
    }

    .current-character .character-picture {
        width: 152px;
        height: 152px;
        top: 5px;
        left: 5px;
    }
}
